.InputWrapper {
    display: flex;
    align-items: center;
}

.placeholder {
    margin-right: 5px;
}

.input {
    flex-grow: 1;
    display: block;

    border: none;
    outline: none;

    &:focus {
        outline: 1px solid var(--secondary-color);
    }
}
