.ArticleDetailsPage {
    display: block;
}

.commentTitle {
    margin-top: 20px;
}

.recommendationsTitle {
    margin-top: 20px;
}

.recommendations {
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
}
