.ProfilePageHeader {
    display: flex;
    margin-bottom: 20px;

    .editBtn {
        margin-left: auto;
    }

    .buttons {
        margin-left: auto;
    }

    .cancelBtn {
        margin-left: 10px;
    }
}
