.AppLink {
    color: var(--primary-color);
    transition: 0.5s;

    &:hover {
        opacity: 0.7;
        fill-opacity: 0.7;
    }
}

.primary {
    color: var(--primary-color);
}

.inverted {
    color: var(--inverted-primary-color);
}

.red {
    color: red;
}
